@model IEnumerable<laboratorna8_shschedrov.Models.Product>

<h2>Product List</h2>
<ul>
    @foreach (var product in Model)
    {
        <li>@product.ID. @product.Name – @product.Price$ (Created: @product.CreatedDate.ToShortDateString())</li>
    }
</ul>

<h2>Product Table</h2>
<table border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Created Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ID</td>
                <td>@product.Name</td>
                <td>@product.Price$</td>
                <td>@product.CreatedDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>